
  <div class="sidenav-wrapper">
    <div class="sidenav-header">
      <img src="../../../assets/images/logo.png">
    </div>
    <div class="sidenav-content"> 
      <ul>
        <li><a  routerLink="/home" (click)="onSidenavClose()">
            <img src="../../../assets/images/calendar.png">
            <div class="nav-caption">Шахматка</div>
          </a></li>
        <li><a routerLink="/reports" (click)="onSidenavClose()">
            <img src="../../../assets/images/reports.png"><div class="nav-caption">Отчеты</div>
          </a></li>
        <li><a routerLink="#" (click)="onSidenavClose()">
            <img src="../../../assets/images/calculate.png"><div class="nav-caption">Касса</div>
          </a></li>
        <li><a routerLink="#" (click)="onSidenavClose()">
            <img src="../../../assets/images/client.png"><div class="nav-caption">Клиент</div>
          </a></li>
        <li><a routerLink="#" (click)="onSidenavClose()">
            <img src="../../../assets/images/personnel.png"><div class="nav-caption">Персонал</div>
          </a></li>
        <li><a  routerLink="#" (click)="onSidenavClose()">
            <img src="../../../assets/images/case.png"><div class="nav-caption">Задачи</div>
          </a></li>
        <li><a  routerLink="#" (click)="onSidenavClose()">
            <img src="../../../assets/images/storage.png"><div class="nav-caption">Склад</div>
          </a></li>
      </ul>
    </div>
    <div class="sidenav-footer">
      <ul>
        <li><a  routerLink="#" (click)="onSidenavClose()">
            <img src="../../../assets/images/archive.png">
          </a></li>
        <li><a  routerLink="#" (click)="onSidenavClose()">
            <img src="../../../assets/images/wrench.png">
          </a></li>
        <li><a  routerLink="#" (click)="onSidenavClose()">
            <img src="../../../assets/images/help.png ">
          </a></li>
      </ul>
    </div>
  </div>