<div class="event-container">
  <div class = "name">{{model.name}}</div>
  <div class = "number">95959959</div>
  <table>
    <tr>
      <td>Источник</td>
      <td>Booking</td>
    </tr>
    <tr>
      <td>Заказчик</td>
      <td>Иванов Иван Иванович</td>
    </tr>
    <tr>
      <td>Категория</td>
      <td>Люкс 5-ти местный</td>
    </tr>
    <tr>
      <td>Период</td>
      <td>15.02.20 - 17.02.20</td>
    </tr>
    <tr>
      <td>Статус</td>
      <td>Оплачено</td>
    </tr>
  </table>

  <i (click)="onCloseClick()" class="material-icons close-icon">
    close
  </i>
</div>